@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../image/background.png);
}

#container {
	background-color: #E6E6E6;
	position: relative;
	top: 200px;
	height: 550px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

h1 {
	text-align: center;
	color: #0F0;
	height: 30px;
}

#result {
	height: 48px;
	width: 380px;
	font-size: 42px;
	position: relative;
	left: 8px;
	margin-bottom: 15px;
	text-align: right;
}

button {
	height: 70px;
	width: 90px;
	font-size: 36px;
	margin: 3px;
}

#clear {
	background-color: yellow;
}